<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.totti.yongstargram.comment.dao.CommentDAO">
 
 	<insert id="insertComment" parameterType="map">
 		INSERT INTO `comment`
 		( 	
 			`postId`
 			,`userId`
 			,`nickName`
 			,`imagePath`
 			,`content`
 			,`createdAt`
 			,`updatedAt`
 		)VALUES(
 		
 			#{postId}
 			,#{userId}
 			,#{userNickName}
 			,#{imagePath}
 			,#{content}
 			,now()
 			,now()
 		)
 	</insert>
 	
 	
 	<select id="selectCommentList" parameterType="int" resultType="com.totti.yongstargram.comment.model.Comment">
 		
 		SELECT 
 			`id`
 			,`postId`
 			,`userId`
 			,`nickName`
 			,`content`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`comment`
 		WHERE
 			`postId` = #{postId}
 		
 		
 	
 	</select>
 	
 	<delete id="deletComment" parameterType="int">
 	
 		DELETE FROM
 			`comment`
 		WHERE
 			`postId` = #{postId}
 	
 	
 	</delete>
 	
 
 </mapper>