@charset "UTF-8";

#signUpView{
	width:500px;
	margin:auto;
}

.content{
	width:500px;
	height:500px;
	border-style:solid;
	border-width:1px;
	border-color:gray; 
}

.yongstarLogo{
	font-family: 'Lobster', cursive;
}

.information{
	font-weight:bold;
}

.facebookLogo{
	width:35px;
	height:auto;
}

.facebookSigninBtn{
	display:flex;
	align-items:center;
}

hr{
	width:70px;
}



.content2{
	height:100px;
	border-style:solid;
	border-width:1px;
	border-color:gray; 	
}


<!--로그인 css-->

#loginView{
	width:1000px;
	height:800px;
	margin:auto;
}

.loginImage{
	width:500px;
	height:600px;
}

.login{
	width:400px;
	height:400px;
	border-style:solid;
	border-width:1px;
	border-color:gray;
}






